*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
button,
input,
textarea,
select,
[role="button"]{
    cursor:none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Alien+Block&display=swap');

html{
    scroll-behavior: smooth;
}

:root{
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--escuro);
    color: var(--claro);
    cursor: none;
}

.afk-message{
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: "Rubik Glitch", system-ui;

    display: flex;
    text-align: center;
    align-items: center;

    transform: translate(-50%, -50%);

    color: white;

    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 4px;

    z-index: 99999;

    pointer-events: none;

    animation: afkFade 5s forwards;
}

@keyframes afkFade{

    0%{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    15%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    85%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

#afk-overlay{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.6);

    backdrop-filter: blur(6px);

    opacity: 0;

    pointer-events: none;

    z-index: 9990;

    transition:
        opacity 1s ease,
        backdrop-filter 1s ease;
}

#afk-overlay.active{
    opacity: 1;
}

#loading-screen{
    position: fixed;
    inset: 0;

    z-index: 999;

    background: #020617;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .8s ease;
}

#loading-screen.hidden{
    opacity: 0;
    pointer-events: none;
}

.loading-content{
    text-align: center;
}

.loading-content h1{
    font-size: 2rem;
    letter-spacing: 8px;
    font-family: "Black Ops One", system-ui;

    color: #7dd3fc;
}

#loading-text{
    margin: 20px;
    font-family: "Rubik Glitch", system-ui;

    color: #94a3b8;
}

.loading-bar{
    width: 455px; 
    height: 6px;
    background: rgba(255,255,255,.1);

    border-radius: 999px;

    overflow: hidden;
}

.loading-progress{
    height: 100%;
    width: 0%;

    background: #38bdf8;

    animation: loadingBar 2.2s linear forwards;
}

@keyframes loadingBar {
    to{
        width: 100%;
    }
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: #000000;
}

::-webkit-scrollbar-thumb{
     background: linear-gradient(
        to bottom,
        #00d4ff,
        #ff00ff
    );
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(
        to bottom,
        #4de4ff,
        #ff4dff
    );
}

.cursor-dot{
    position: fixed;
    
    width: 8px;
    height: 8px;

    background: #00d4ff;
    border-radius: 50%;

    pointer-events: none;
    z-index: 9999;

    transform: translate(-50%, -50%);
}

.cursor-ring{
    position: fixed;

    width: 34px;
    height: 34px;

    border: 2px solid #ff00ff;
    border-radius: 50%;

    pointer-events: none;
    z-index: 9998;
    transform: translate(-50%, -50%);
    transition:
        transform 0.35s cubic-bezier(.175,.885,.32,1.275),
        box-shadow 0.3s ease;
}

.cursor-ring.hover{
    transform: translate(-50%, -50%) scale(1.8);

    box-shadow: 0 0 2px #00d4ff, 0 0 5px #ff00ff;
}

.navegacao{
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu_link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu_link::after{
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu_link:hover::after{
    width: 100%;
}

.cabecalho{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto_perfil{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 6s ease-in-out infinite;
}

.titulo{
    font-size: 3.5rem;
    font-family: "Croissant One", serif;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
    text-align: center;
    animation: neonpulse 3s infinite ease-in-out;
    transition: all 0.55s ease-in-out;
}

.titulo:hover{
    color: #cffafe;
    text-shadow:
        0 0 5px #67e8f9,
        0 0 10px #67e8f9,
        0 0 20px #22d3ee,
        0 0 30px #06b6d4;
    transform: scale(1.02);
}

body.glitch{
    animation: screenGlitch 0.35s steps(2, end);
}

#dominio{
    position: fixed;
    inset: 0;
    z-index: 999;
    pointer-events: none;

    opacity: 0;
    background: linear-gradient(135deg,
                rgba(8, 12, 24, 0.92),
                rgba(4, 8, 16, 0.96)
    );

    transition: opacity 0.6s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

#dominio.ativo{
    opacity: 1;
}

#dominio::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;

    background: repeating-linear-gradient(to bottom, rgba(255,255,255,0.03) 0px, rgba(255,255,255,0.03) 1px, transparent 1px, transparente 1px);

    mix-blend-mode: overlay;
    opacity: 0.6;
}

#dominio::after{
    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(circle at center, rgba(0, 212, 255, 0.12) 0%, rgba(192,0,255, 0.08) 25%, transparent 60%);

    filter: blur(40px);
}

#estrelas-bg{
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease;
}

body.estrelas-ativadas #estrelas-bg{
    opacity: 1;
}

.estrela{
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.8;

    animation: piscar 2s infinite ease-in-out;
}

#fundo-alt{
    position: fixed;
    inset: 0;
    z-index: -1;

    background: radial-gradient(circle at 20% 80%, rgba(0,212,255,0.18), transparent 35%),
                radial-gradient(circle at 80% 30%, rgba(192,0,255,0.16), transparent 35%),
                radial-gradient(circle at 60% 80%, rgba(255,40,0,0.10), transparent 40%),
                linear-gradient(160deg, #050816 0%, #0A1020 100%);

    opacity: 0;
    transition: opacity 1.5s ease;
}

body.fundo-alterado #fundo-alt{
    opacity: 1;
}

.ticker{
    overflow: hidden;
    z-index: 999;
    position: fixed;

    font-weight: bold;
    letter-spacing: 4px;

    pointer-events: none;

    background: rgba(0, 102, 94, 0.15);

    backdrop-filter: blur(10px);

    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    padding: 12px 0;
}

.ticker-top{
    top: 200px;
    left: -150px;

    transform: rotate(-45deg);

    width: 700px;
}

.ticker-bottom{
    right: -200px;
    bottom: 200px;

    transform: rotate(-45deg);

    width: 700px;
}

.ticker-track{
    display: flex;
    width: max-content;

    animation: scroll 140s linear infinite;
} 

@keyframes scroll {
    from{
        transform: translateX(0);
    } 
    to{
        transform: translateX(calc(-60%))
    }
}

.ticker span{
    white-space: nowrap;
}

@media (max-width:1300px){
    .ticker-top{
        left:-250px;
    }

    .ticker-bottom{
        right:-350px;
    }
}

@media (max-width:768px) {
    .ticker{
        display: none;
    }
}

.background-branding{
    position: fixed;
    inset: 0;
    z-index: -2;

    overflow: hidden;

    transform-origin: center;
    pointer-events: none;
}

.branding-wrapper{
    position: absolute;

    left: -100%;
    width: 300%;
    transform: rotate(-45deg);
}

.branding-line{
    display: flex;
    gap: clamp(100px, 12vw, 250px);

    width: max-content;

    animation: scroll 360s linear infinite;
}

.background-branding span{
    position: relative;
    font-family: "Black Ops One", system-ui;

    font-size: 20rem;
    font-weight: 1000;

    color: rgb(255, 255, 255);
    opacity: 0.015;

    white-space: nowrap;
    flex-shrink: 0;
}

.linha1{top: -48vh;}
.linha1 span{font-size: clamp(8rem, 15vw, 16rem);}
.linha2{top: -14vh;}
.linha2 span{font-size: clamp(10rem, 18vw, 23rem);}
.linha3{top: 30vh;}
.linha3 span{font-size: clamp(9rem, 15vw, 18rem);}
.linha4{top: 64vh;}
.linha4 span{font-size: clamp(12rem, 20vw, 25rem);}
.linha5{top: 112vh;}
.linha5 span{font-size: clamp(10rem, 16vw, 20rem);}

.desc_cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.links_profissionais{
    display: flex;
    gap: 20px;
}

.link_social{
    text-decoration: none;
    color: var(--claro);
    border: 1px solid var(--vidro);
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.3s;
}

.link_social:hover{
    border-color: var(--primaria);
    box-shadow: 0 0 10px var(--primaria);
}

.cabecalho_descricao{
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre{
    padding: 6rem 2rem;
}

.sobre_titulo{
    font-size: 3rem;
    color: #e0f2fe;
    text-align: center;
    margin-bottom: 20px;

    text-shadow: 0 0 5px rgba(125, 211, 252, 0.4), 0 0 10px rgba(125, 211, 252, 0.2); 
}

.sobre_caixa{
    padding: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(0, 225, 255, 0.07);
    box-shadow: 0 0 10px rgb(255, 3, 242), inset 0 0 10px rgba(78, 70, 229, 0.584);
}

.moldura{
    text-align: center;
    font-size: 1.05rem;
    line-height: 1.4;

    color: #e2e8f0;

    background: rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 12px;

    border: 1px solid rgba(255,255,255,0.1);

    box-shadow: 0 0 10px rgb(12, 162, 255), inset 0 0 10px rgba(78, 70, 229, 0.5);
    overflow-x: auto;
}

.projetos{
    padding: 6rem 2rem;
    text-align: center;
}

.projetos_titulo{
    font-size: 3rem;
    display: inline-block;
    color: #e0f2fe;
    text-align: center;
    margin-bottom: 20px;

    text-shadow: 0 0 5px rgba(125, 211, 252, 0.4), 0 0 10px rgba(125, 211, 252, 0.2); 
}

/* CAROUSEL */

.carousel{
    position: relative;

    width: 100%;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: visible;
}

/* CARDS */

.projetos_card{
    position: absolute;

    width: 420px;
    min-height: 250px;

    border-radius: 20px;

    transition:
        transform 0.6s ease,
        opacity 0.6s ease;
}

/* POSIÇÕES */

.projetos_card.active{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 3;
}

.projetos_card.left{
    transform: translateX(-450px) scale(0.8);
    opacity: 0.45;
    z-index: 1;
}

.projetos_card.right{
    transform: translateX(450px) scale(0.8);
    opacity: 0.45;
    z-index: 1;
}

/* HEADER */

.card_header{
    background: rgba(255,255,255,0.03);

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 20px;

    overflow: hidden;

    transition: transform 0.3s ease;
}

.card_header:hover{
    transform: translateY(-4px);
}

.projetos_imagem{
    width: 100%;
    height: 200px;

    object-fit: cover;
}

.caixa_textos{
    padding: 20px;
}

/* BUBBLES */

.bubbles_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 20px;
    padding: 20px;

    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.projetos_card:not(.active) .bubbles_container{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
}

.projetos_card.active .bubbles_container{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

/* BUBBLE */

.bubble{
    width: 140px;
    height: 140px;

    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    background: rgba(255,255,255,0.04);

    border: 1px solid rgba(255,255,255,0.08);

    transition:
        transform 0.3s ease,
        background 0.3s ease;
}

.bubble:hover{
    transform: translateY(-6px) scale(1.03);

    background: rgba(255,255,255,0.06);
}

.bubble img{
    width: 58px;
    height: 58px;

    border-radius: 50%;

    object-fit: cover;
}

.carousel-mobile{
    display: none;
}

/* OVERLAY */

.overlay{
    position: fixed;
    top: 32%;
    left: 50%;

    transform:
        translate(-50%, -50%)
        scale(0.8);

    opacity: 0;
    pointer-events: none;
    width: min(800px, 85vw);
    min-height: 500px;

    padding: 40px;

    border-radius: 30px;
    background: #0b1020;
    border: 1px solid rgba(255,255,255,0.08);

    z-index: 999;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.bubble_item.expandido .overlay{
    opacity: 1;
    pointer-events: all;

    transform:
        translate(-50%, -50%)
        scale(1);
}

/* ESCONDE BUBBLE */

.bubble_item.expandido .bubble{
    opacity: 0;

    transform: scale(0.5);

    pointer-events: none;
}

/* IMAGEM OVERLAY */

.project-top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 2rem;
}

.project-header{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.project-header h1{
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: .15rem;
    color: #e0f2fe;
    
    text-transform: uppercase;
}

.project-image{
    flex-shrink: 0;
}

.project-image img{
    width: 300px;
    border-radius: 16px;
    transition: .3s ease;
    box-shadow: 0 0 20px rgba(0, 212, 255, .15);
}

.project-image video{
    width: 300px;
    border-radius: 12px;
    transition: .3s ease;
    box-shadow: 0 0 20px rgba(0, 212, 255, .15);;
}

.project-image img:hover{
    transform: scale(1.03);

    box-shadow: 0 0 30px rgba(0, 212, 255, .25), 0 0 50px rgba(233, 64, 255,.15);
}

.project-image video:hover{
    transform: scale(1.03);

    box-shadow: 0 0 30px rgba(0, 212, 255, .25), 0 0 50px rgba(233, 64, 255,.15);
}

.project-image-png{
    flex-shrink: 0;
}

.project-image-png img{
    width: 300px;
    border-radius: 16px;
    transition: .3s ease;
}

.project-image-png img:hover{
    transform: scale(1.03);
}

.project-info{
    flex: 1;
}

.project-meta{
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 1rem;
    row-gap: .7rem;
    align-items: center;
}

.project-meta span:nth-child(odd){
    color:#00D4FF;
    font-weight: 700;
    letter-spacing: .1rem;
}

.project-meta span:nth-child(even){
    color: #e0f2fe ;
}

@media(max-width:1416px){
    .carousel{
        height: auto;
    }

    .projetos_card.left, .projetos_card.right{
        display: none;
    }
    .projetos_card.active{
        position: relative;
        width: 50vw;
        margin: auto;
    }

    .carousel-mobile{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }
}

@media(max-width:768px){
    .carousel{
        height: auto;
    }

    .projetos_card.left, .projetos_card.right{
        display: none;
    }
    .projetos_card.active{
        position: relative;
        width: 90vw;
        margin: auto;
    }

    .carousel-mobile{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }
}

.project-description{
    color: rgba(255,255,255,.85);
    line-height: 1.8;
    max-width: 700px;
    margin: 0 auto 2rem auto;
    text-align: center;
}

.project-links{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.project-links a{
    text-decoration: none;
    padding: .8rem 1.3rem;
    border-radius: 999px;
    border: 1px solid rgba(0,212,255,0.35);
    color: #00D4FF;
    transition: .25s ease;
}

.project-links a:hover{
    background: #00D4FF;
    color: #06101f;
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(0, 212, 255, .3);
}

@media(max-width: 768px){
    .project-top{
        flex-direction: column;
    }

    .project-image{
        width: 100%;
        max-width: 300px;
    }

    .project-meta{
        grid-template-columns: 90px 1fr;
    }
}

.contatos{
    padding: 6rem 2rem;
}

.contatos_titulo{
    text-align: center;
    font-size: 2.5rem;
    color: #e0f2fe;
    margin-bottom: 50px;
    text-shadow: 0 0 5px rgba(125, 211, 252, 0.4), 0 0 10px rgba(125, 211, 252, 0.2);
}

.formulario_contato{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo_form{
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo_form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo_form{
    margin-bottom: 1.5rem;
}

.botao{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    position: relative;
    font-weight: bold;
    width: 100%;

    transition: all 0.5s ease;
}

.botao::before{
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

.botao:hover::before{
    opacity: 1;
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 10% 20%, #e940ff6b 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, #00d5ff70 0%, transparent 20%), 
    var(--maisescuro);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20%);
    }
}

@keyframes neonpulse {

    0%, 100%{
        text-shadow:
        0 0 4px var(--primaria),
        0 0 8px var(--secundaria);
    }

    50%{
        text-shadow:
        0 0 10px #0a22ff,
        0 0 15px #ad22ee,
        0 0 30px #9900ff;
    }
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

@keyframes girar {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

@keyframes aparecer {
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes piscar{
    0%,100%{ opacity: 0.2; }
    50%{ opacity: 1; }
}

@keyframes expandirBubble {
    0%{
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
        border-radius: 50%;
    }
    70%{
        transform: translate(-50%, -50%) scale(1.05);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        border-radius: 40px;
    }
}

@keyframes bubbleFlutuar {
    0%{
        transform: translateY(0px) rotate(0deg);
    }25%{
        transform: translateY(-8px) rotate(1deg);
    }50%{
        transform: translateY(-15px) rotate(-1deg);
    }75%{
        transform: translateY(-5px) rotate(1deg);
    }100%{
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes screenGlitch {
    0%{ 
        transform: translate(0); 
        filter: none; 
    } 
    20%{ 
        transform: translate(-3px, 2px); 
        filter: hue-rotate(10deg); 
    } 
    40%{ 
        transform: translate(3px, -2px); 
        filter: hue-rotate(-10deg); 
    } 
    60%{ 
        transform: translate(-2px, 1px); 
    } 
    80%{ 
        transform: translate(2px, -1px); 
    } 
    100%{ 
        transform: translate(0); 
        filter: none; 
        }
}